/* General reset */
/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
  z-index: 2;
}

.logo-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.nav-toggle {
  display: none;
  cursor: pointer;
  z-index: 3;
}

.nav-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links ul li {
  margin: 0 10px;
}

.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links ul li a:hover {
  color: #ffcccc;
}

.close-btn {
  display: none;
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .nav-links.open {
    display: flex;
    opacity: 1;
    transform: translateX(0);
  }

  .nav-toggle {
    display: block;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: navy;
    background: none;
    border: none;
    cursor: pointer;
  }

  .nav-links ul {
    flex-direction: column;
  }

  .nav-links ul li {
    margin-bottom: 20px;
  }

  .nav-links ul li a {
    font-size: 24px;
  }
}

.text-box {
  max-width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0 auto;
}

.text-box h1 {
  font-size: 72px;
}

.text-box p {
  max-width: 95%;
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 12px 34px;
  font-size: 25px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #d3393b;
  background: #ffcccc;
  transition: 1s;
}

/* Mobile styles */
@media (max-width: 768px) {
  .text-box h1 {
    font-size: 48px;
  }
  .text-box p {
    font-size: 14px;
  }

  .header {
    height: 80vh;
  }
}

@media (max-width: 480px) {
  .text-box h1 {
    font-size: 36px;
  }

  .text-box {
    top: 55%;
  }
}

/* ---------------activities---------------- */
/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 6%;
  z-index: 2;
}

.logo-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.nav-toggle {
  display: none;
  cursor: pointer;
  z-index: 3;
}

.nav-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links ul li {
  margin: 0 10px;
}

.nav-links ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links ul li a:hover {
  color: #db9c9c;
}

.close-btn {
  display: none;
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .nav-links.open {
    display: flex;
    opacity: 1;
    transform: translateX(0);
  }

  .nav-toggle {
    display: block;
  }

  .close-btn {
    display: block;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    color: navy;
    background: none;
    border: none;
    cursor: pointer;
  }

  .nav-links ul {
    flex-direction: column;
  }

  .nav-links ul li {
    margin-bottom: 20px;
  }

  .nav-links ul li a {
    font-size: 24px;
    color: black;
  }
}

.text-box {
  max-width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  margin-top: 0%;
}

.text-box h1 {
  font-size: 72px;
}

.text-box p {
  max-width: 95%;
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 12px 34px;
  font-size: 25px;
  background: transparent;
  border: 1px solid #fff;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #d3393b;
  background: #d3393b;
  transition: 1s;
}

/* Mobile styles */
@media (max-width: 768px) {
  .text-box {
    max-width: 100%;
    padding: 0 20px;
    height: 100vh;
    margin-top: 15%;
  }

  .text-box h1 {
    font-size: 48px;
  }

  .text-box p {
    font-size: 14px;
  }

  .header {
    height: 80vh;
  }
}

@media (max-width: 480px) {
  .text-box h1 {
    font-size: 36px;
  }

  .text-box {
    top: 55%;
    margin-top: 35%;
  }
}

/* ---------------activities---------------- */
.activities {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 100px 0;
  overflow-x: auto;
}

.activities-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 20px;
}

.activities-col {
  flex: 0 0 300px;
  max-width: 300px;
  background: #ffcccc;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  transition: box-shadow 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.activities-col img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.activities-col h3 {
  font-size: 24px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.activity-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}

.activity-content p {
  font-size: 16px;
  color: #000;
  text-align: left;
  margin: 0;
}

.activities-col:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .activities-container {
    gap: 10px;
  }

  .activities-col {
    flex: 0 0 250px;
    max-width: 250px;
  }

  .activities-col h3 {
    font-size: 20px;
  }

  .activity-content p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .activities {
    padding: 30px;
  }

  .activities-container {
    gap: 5px;
  }

  .activities-col {
    flex: 0 0 200px;
    max-width: 200px;
  }

  .activities-col h3 {
    font-size: 18px;
  }

  .activity-content p {
    font-size: 12px;
  }
}

/*-------- Achievements Section ---------*/

.achievements {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 100px 0;
}

.large-title {
  margin-bottom: 50px;
  color: #051d37;
}

.achievements-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.achievements-col {
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  transition: box-shadow 0.5s;
}

.achievements-col img {
  width: 80px; /* Smaller image size */
  height: auto;
  margin-bottom: 10px;
}

.achievements-col h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.large-number {
  font-size: 30px;
}

.small-text {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px;
}

/* Media Queries for Responsiveness */

@media (max-width: 1024px) {
  .achievements-container {
    grid-template-columns: repeat(2, 1fr); /* Two columns per row */
  }

  .achievements-col h3 {
    font-size: 22px;
  }

  .large-number {
    font-size: 28px;
  }

  .small-text {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .achievements {
    padding: 50px 20px; /* Reduce padding on smaller screens */
  }

  .achievements-col {
    padding: 15px; /* Reduce padding inside the box */
  }

  .achievements-col img {
    width: 60px; /* Smaller image size */
    margin-bottom: 8px;
  }

  .achievements-col h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .large-number {
    font-size: 24px;
  }

  .small-text {
    font-size: 12px;
  }
}

/*------------ volunteer -------*/
/* Base Styles */
.help-us-bg {
  background-image: url("images/bghelp.png"); /* Adjust the image path */
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  text-align: center;
  margin: auto;
}

.large-title {
  text-align: center;
  color: #051d37;
}

.help-us-title {
  color: white;
}

.help-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px; /* Space between boxes */
  max-width: 1200px;
  margin: 0 auto;
}

.call-to-action-box {
  background-color: #d3393b;
  opacity: 0.7;
  color: #fff;
  border-radius: 10px;
  padding: 30px;
  margin: 10px;
  margin-bottom: 30px; /* Adjust margin-bottom for spacing */
  text-align: center;
  width: calc(33.333% - 20px); /* Three boxes per row, accounting for gap */
  transition: box-shadow 0.5s ease;
}

.call-to-action-box:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.9);
}

.call-to-action-box i {
  font-size: 48px;
  margin-bottom: 15px;
  display: block;
}

.call-to-action-box h3 {
  font-size: 24px;
  margin-bottom: 30px; /* Adjust margin-bottom */
}

.call-to-action-box p {
  font-size: 18px;
  margin-bottom: 20px; /* Adjust margin-bottom */
}

.cta-btn {
  display: inline-block;
  background-color: #25567f;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #003d80;
}

@media (max-width: 768px) {
  .call-to-action-box {
    width: calc(50% - 20px); /* Half width minus gap */
    padding: 20px; /* Smaller padding */
    margin-bottom: 20px; /* Adjust margin-bottom for spacing */
  }

  .call-to-action-box i {
    font-size: 36px; /* Smaller icon */
  }

  .call-to-action-box h3 {
    font-size: 18px; /* Smaller heading */
    margin-bottom: 15px; /* Adjust margin-bottom */
  }

  .call-to-action-box p {
    font-size: 14px; /* Smaller paragraph text */
    margin-bottom: 10px; /* Adjust margin-bottom */
  }

  .cta-btn {
    padding: 8px 16px; /* Smaller button padding */
  }
}

@media (max-width: 480px) {
  .call-to-action-box {
    width: 100%; /* Full width for smaller screens */
    padding: 20px; /* Smaller padding */
    margin-bottom: 20px; /* Adjust margin-bottom for spacing */
  }

  .call-to-action-box i {
    font-size: 28px; /* Smaller icon */
  }

  .call-to-action-box h3 {
    font-size: 16px; /* Smaller heading */
    margin-bottom: 10px; /* Adjust margin-bottom */
  }

  .call-to-action-box p {
    font-size: 12px; /* Smaller paragraph text */
    margin-bottom: 8px; /* Adjust margin-bottom */
  }

  .cta-btn {
    padding: 6px 12px; /* Smaller button padding */
  }
}

/* -----------------news--------------------- */

.latest-news {
  margin: auto;
  text-align: center;
  padding: 100px 0;
  position: relative;
}

.news-container {
  display: flex;
  gap: 20px;
  margin: 10px;
  overflow-x: auto;
  padding-bottom: 20px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.news-article {
  background: #ffcccc;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  transition: box-shadow 0.5s;
  display: flex;

  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  scroll-snap-align: start;
  flex: 0 0 300px; /* Default width for all articles */
  max-width: 300px;
}

.news-article:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.news-article img {
  width: 50%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.news-article h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #051d37;
}

.news-article p {
  font-size: 16px;
  color: #051d37;
  flex: 1;
}

.news-article a {
  display: block;
  margin-top: 10px;
  color: #d3393b;
  text-decoration: none;
  font-weight: bold;
}

.news-article a:hover {
  text-decoration: underline;
}

/* Styles for the navigation arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #d3393b;
  cursor: pointer;
  z-index: 10;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

@media (max-width: 1024px) {
  .news-article {
    flex: 0 0 50%; /* Adjust width for medium screens */
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .news-article {
    flex: 0 0 100%; /* Adjust width for small screens */
    max-width: 100%;
  }
}

/* Featured Articles Section */
.featured-articles {
  width: 100%;
  padding: 50px 0; /* Reduced padding */
  text-align: center;
}

.featured-news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  gap: 20px; /* Adjust spacing between articles */

  margin: 20px;
}

.featured-news-article {
  flex: 0 1 calc(25% - 20px); /* Four articles per row */
  max-width: calc(25% - 20px);
  background: #ffcccc;
  border-radius: 10px;
  padding: 10px; /* Reduced padding */
  box-sizing: border-box;
  text-align: left; /* Align text inside the box to the left */
  transition: box-shadow 0.5s; /* Add transition for the shadow effect */
  height: auto; /* Adjust height */
}

.featured-news-article:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5); /* Add shadow on hover */
}

.featured-news-article img {
  display: block; /* Ensure images behave like blocks */
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.featured-news-article h3 {
  font-size: 18px; /* Reduced font size */
  margin-bottom: 5px; /* Reduced margin */
}

.featured-news-article p {
  font-size: 14px; /* Reduced font size */
  color: #777;
  margin-bottom: 10px; /* Add some bottom margin for separation */
  text-align: justify; /* Justify text for a cleaner look */
  line-height: 1.4; /* Reduced line height */
}

.featured-news-article a {
  display: inline-block;
  color: #d3393b;
  text-decoration: none;
  font-weight: bold;
}

.featured-news-article a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .featured-news-article {
    flex: 0 1 calc(50% - 20px); /* Two articles per row for medium screens */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .featured-news-article {
    flex: 0 1 100%; /* One article per row for small screens */
    max-width: 100%;
  }
}

/*------------ back to top -------*/

#backToTopBtn {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color: #051d37;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s;
}

#backToTopBtn:hover {
  background-color: #555;
}

/*------------videos -------*/
/*------------videos -------*/
/*------------videos -------*/
.activities-vidsec,
.video-section {
  background-color: #ffffff; /* Choose your desired background color */
  padding: 40px 20px; /* Adjust padding as needed */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  flex-direction: column; /* Stack elements vertically */
  text-align: center; /* Center text inside the block */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

.activities-vidsec h2,
.video-section h2 {
  font-size: 28px; /* Adjust font size */
  /* Adjust spacing */
  border-radius: 10px;
}

.featured-video1 {
  width: 100%; /* Use full width */
  max-width: 560px; /* Ensure the video container is not wider than 560px */
  margin: 0 auto; /* Center the container within the section */
  height: auto; /* Ensure height is auto for responsiveness */
  overflow: hidden; /* Hide any overflow */
}

.featured-video1 video {
  width: 100%; /* Make the video responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Optional: add rounded corners */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .video-section {
    padding: 20px 10px; /* Reduce padding for smaller screens */
    height: fit-content;
    height: 90vh;
    margin-top: -100px;
  }

  .video-section h2 {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  .featured-video1 {
    width: 90%; /* Adjust width for smaller screens */
  }
}

@media (max-width: 480px) {
  .video-section {
    padding: 10px 5px; /* Further reduce padding for very small screens */
    height: 80vh;
    margin-top: -100px;
  }

  .video-section h2 {
    font-size: 20px; /* Further adjust font size for very small screens */
  }

  .featured-video1 {
    width: 100%; /* Use full width for very small screens */
  }
}

/* Footer Section */
.footer {
  background-color: #051d37;
  color: #fff;
  padding: 20px 40px;
  width: 100%;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.footer-column {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Add margin to avoid overlap when wrapping */
}

.footer-logo {
  width: 150px;
  margin-right: 30px;
}

.social-media {
  display: flex;
  align-items: center;
}

.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  font-size: 24px;
  color: #051d37;
  transition: background-color 0.3s ease;
}

.social-icon:hover {
  background-color: #ffcccc;
}

.slogan {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.slogan-image {
  width: 200px;
  height: auto;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
  gap: 20px;
  justify-content: center; /* Center align on smaller screens */
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffcccc;
}

/* Media Queries */
@media (max-width: 1024px) {
  .footer-column {
    flex-direction: column;
    align-items: flex-start;
  }

  .slogan {
    margin: 20px 0;
  }

  .footer-nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .social-media {
    margin-bottom: 20px;
  }

  .slogan {
    margin: 20px 0;
    text-align: center;
  }

  .footer-nav {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer-logo {
    width: 100px;
    margin-right: 10px;
  }

  .social-icon {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .footer-nav .nav-link {
    font-size: 20px;
  }
}

/* Back to Top Button */
#backToTopBtn {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color: #051d37;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s;
}

#backToTopBtn:hover {
  background-color: #555;
}
